$lightgray: #eee;
$darkgray: #333;
$lightblue: #f8f8ff;
$aaa: #aaa;

article, aside, details, footer, header, hgroup, nav, section {
    display: block;
}

* {
    text-rendering: optimizeLegibility;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Georgia, serif;
    width: 800px;
    margin: 0px auto 0px auto;
    padding: 0;
}

a {
    color: inherit;
}

nav {
    font-size: 1em;

    ul {
        list-style-type: none;

        li {
            display: inline;
            padding-right: 0.5em;
        }

        li + li {
            padding-left: 0.5em;
            border-left: 1px $lightgray solid;
        }

        li:last-child {
            padding-right: 0;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}


header {
    margin-top: 2.0em;

    h1 {
        font-weight: normal;
        font-size: 3em;
        font-family: "Helvetica Neue", sans-serif;
    }

    p {
        text-size: 80%;
        color: $aaa;
    }
}

a {
    color: #000;
    text-decoration: underline;
}

a:hover {
    background-color: $lightblue;
    color: #222;
}


article {
    font-size: 1.2em;
    padding: 0;
    margin-bottom: 0.7em;

    h1, h2, h3 {
        font-family: "Helvetica Neue", sans-serif;
    }

    h1 {
        margin-top: 1em;
        font-size: 1.4em;
        font-weight: bold;

        #date {
            color: #ccc;
            text-align: right;
            padding-right: 20px;
            text-transform: lowercase;
        }

        a:hover {
            background: none;
            color: inherit;
            text-decoration: none;
            display: inline;
        }

    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }

    p, pre, ul, ol {
        color: $darkgray;
        line-height: 1.5em;
    }

    p, pre {
        margin: 0.75em 0;
    }

    ul {
        margin: 0 1.2em;
    }

    ol {
        margin: 0 2em;
    }

    nav {
        text-align: center;
    }

    table {
        margin: 0 auto 0 auto;
    }

    pre {
        border: 1px solid #ccd;
    }

    pre, code {
        background-color: #eef;
        font-family: Menlo, Monaco, Courier, monospace;
        font-size: 0.9em;
        padding: 0.2em;
    }

    .right img {
        float: right;
        clear: left;
        margin-left: 0.5em;
    }

    .left img {
        float: left;
        clear: right;
        margin-right: 0.5em;
    }

    ul.posts {
        list-style: none;
        margin: 0.5em;

        span {
            color: $aaa;
            font-family: Menlo, Monaco, Courier, monospace;
            font-size: 80%;
        }
    }
}

footer {
    border-top: #ddd solid 1px;
    font-size: 0.8em;

    p {
        text-align: center;
        margin: 0.6em 0em;
    }

    a {
        color: #999;
    }

    a:hover {
        text-decoration: none;
        color: $lightgray;
    }
}

blockquote {
    padding-left: 1em;
    border-left: 0.5em solid $lightgray;
}

hr {
    margin-top: 0.25em;
    margin-bottom: 0.25em;

    border: 0px;
    color: #ddd;
    background-color: #ddd;
    height: 1px;
}

@media print, screen and (max-width: 900px) {
    body {
        width: 90%;
    }
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {  
    body {
        width: 100%;
        margin: 0 5px;

        ul.posts span {
            display: none
        }
    }
}
