html {
    font-family:
    Optima,
    -apple-system,
    ".SFNSText-Regular",
    "San Francisco",
    "Roboto",
    "Segoe UI",
    "Helvetica Neue",
    "Lucida Grande",
    sans-serif;

    font-size: x-large;
}

main, body {
    margin: 1ch 0.5ch;
}

main, body > header {
    border-bottom: 1px dashed #ccc;
}

main, body > footer {
    margin-top: 0.5ch;
    border-top: 1px dashed #ccc;
    color: #888;
    padding-bottom: 5ch;
}

nav ul {
    padding: 0;
    list-style-type: none;
}
nav ul li {
    display: inline;
    padding-left: 1ch;
    white-space: nowrap;
}
nav ul li:first-child { padding-left: 0; }

img { max-width: 100%; }


.post-meta {
    color: #888;
    display: none;
}

.footpara { display: inline; }

@media (min-width: 500px) {

    /* Center content */
    body {
        max-width: 72ch;
        margin: auto;
    }

    .post-meta {display: inline;}
}

.org-src-container {
    background: lightgray;
    border: 2px solid navy;
    border-radius: 5px;
    padding: 0 0.5ch;
}
