html {
    font-family: Optima, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

/* I think writ's headers are too large */
h1 { font-size: 1.44em; }
h2 { font-size: 1.2em; }
h3, h4, h5, h6 { font-size: 1em; }

h1, h2, h3 { line-height: 2rem; }

main, body {
    margin: 1ch 0.5ch;
    /* For aside */
    position: relative;
}

main, body > header {}

main, body > footer {
    margin-top: 1em;
    border-top: 1px dashed #ccc;
    color: #888;
    padding-bottom: 5ch;
}

.post-meta {
    color: #888;
    display: none;
}

.footpara { display: inline; }

@media (min-width: 500px) {
    html { font-size: large; }

    /* Center content */
    body {
        max-width: 72ch;
        margin: auto;
    }

    /* Use larger header-sizes on larger devices */
    h1 { font-size: 2.074em; }
    h2 { font-size: 1.728em; }
    h3 { font-size: 1.44em; }
    h4 { font-size: 1.2em; }
    h5, h6 { font-size: 1em; }

    .post-meta {display: inline;}
}
