---
---

$whitesmoke: #f0f0ff;
$lightgray: #eee;
$darkgray: #333;
$lightblue: #f8f8ff;
$aaa: #aaa;


nav {

    a {
        color: inherit;
        text-decoration: none;
    }

    ul {
        padding: 0.5em 0 0 0;
        margin: 0;
        list-style-type: none;

        li {
            display: inline;
            padding-right: 0.5em;
        }

        li + li {
            padding-left: 0.5em;
            border-left: 1px $lightgray solid;
        }

        li:last-child {
            padding-right: 0;
        }
    }

}

.meta {
    color: $aaa;
    font-size: 90%;
    display: none
}


article {

    .fullwidth img {
        width: 100%;
        max-width: 100%;
    }

    .right img {
        float: right;
        clear: left;
        margin-left: 0.5em;
    }

    .left img {
        float: left;
        clear: right;
        margin-right: 0.5em;
    }
}

footer {
    border-top: 1px solid #ccc;

    clear: both;
    color: #666;
}

@media (min-width: 550px) {
    .meta { display: inline }
}
