body {
    font-family: Optima, "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

body > header,
body > footer {
    max-width: 100ch;
    margin: auto;
    padding: 0 2ch 1em;
    /* For aside */
    position: relative;
}

body > footer {
    border-top: 1px solid #ccc;
    color: #aaa;
}

.post-meta {
    color: #aaa;
    font-size: 90%;
    display: none;
}

@media (min-width: 550px) {
    .post-meta {
        display: inline;
    }
}
