/* This file contains *my* styles */
/* TODO: Incorporate org.css into this file and retain just the styles
   I need. */
h1, h2, h3, h4, h5, h6 { color: orange }

#preamble,
#postamble {font-size: smaller}

#preamble nav ul,
#postamble nav ul {
    padding: 0;
    list-style-type: none;
}

#preamble nav ul {text-align: right}

#preamble nav ul li,
#postamble nav ul li {display: inline}

/* Padding between li elements in pre- /postamble nav */
#preamble nav ul li + li,
#postamble nav ul li + li {padding-left: 2ch}

/* Override style set in org.css */
#postamble p,
#preamble p {margin: 0.5em 0}

#preamble {margin-top: 3px}
#postamble {margin-bottom: 1em}

html {
    font-family:
	Optima,
	-apple-system,
	".SFNSText-Regular",
	"San Francisco",
	"Roboto",
	"Segoe UI",
	"Helvetica Neue",
	"Lucida Grande",
	sans-serif;
    margin: 0 0.5ch;
}

body {
    font-size: large;
    max-width: 100%;
    margin: 0;
}

#preamble, #postamble, .abstract {
    background-color: blanchedalmond;
    border-radius: 3px;
    border: 1px solid orange;
    padding: 0 0.3em;
}

/* TODO: Reduce padding around figures for small screens */

img {
    max-width: 100%;
}

@media (min-width: 600px) {
    body {
        font-size: x-large;
        max-width: 65ch;
        margin: auto;
    }
}

td + td, th + th {
    border-left: 1px solid orange;

}

thead + tbody, tbody + tbody {
    border-top: 1px solid orange;
}

caption.t-above {
    padding: 0.5ch;
}

#footnotes {
    color: #555;
    font-size: smaller;
}

#footnotes hr {
    border: 0;
    border-top: 1px solid orange;
    width: 50%;
}

/* Drawers. Inspired by https://pavpanchekha.com/blog/org-mode-publish.html */
.drawer {
    background: blanchedalmond;
    border-radius: 3px;
    border: 1px solid orange;
    margin: 1em 0;
    padding: 0.3em;
}
.drawer h6 {
    font-size: 100%;
    font-weight: bold;
    margin: 0 0 1em 0;
}
.drawer *:last-child {margin-bottom: 0}

.row {display: flex}
.column {flex: 50%}

/* Styles for Source code blocks */
.org-builtin { color: #483d8b; }
.org-clojure-keyword { color: #008b8b; }
.org-comment { color: #b22222; }
.org-comment-delimiter { color: #b22222; }
.org-doc { color: #8b2252; }
.org-function-name { color: #0000ff; }
.org-keyword { color: #a020f0; }
.org-string { color: #8b2252; }
.org-type { color: #228b22; }
.org-variable-name { color: #a0522d; }

/* Override styles from org.css */
.tag { background-color: white;
       padding: 0; }

/* Make tags moar fancy! Credit: https://gongzhitaao.org/orgcss/ */
.tag span {
    background-clip:padding-box;
    background-color:blanchedalmond;
    border-radius:3px;
    border:1px solid orange;
    color:black;
    float:right;
    line-height:1;
    margin-left:.5em;
    padding:.3em;
}
