/* This file contains *my* styles */
#preamble, #postamble {font-size: smaller}
#postamble {border-top: 1px solid grey}

#preamble nav ul {
    text-align: right;
    padding: 0;
    list-style-type: none;
}
#preamble nav ul li {
    display: inline;
    padding-right: 1ch;
}
#preamble nav ul li:last-child {padding-right: 0}

#postamble nav ul {
    padding: 0;
    list-style-type: none;
}
#postamble nav ul li {
    display: inline;
    padding-left: 1ch;
}
#postamble nav ul li:first-child {padding-left: 0}

html {
    font-family:
	Optima,
	-apple-system,
	".SFNSText-Regular",
	"San Francisco",
	"Roboto",
	"Segoe UI",
	"Helvetica Neue",
	"Lucida Grande",
	sans-serif;
    margin: 0 0.5ch;
}

body {
    font-size: large;
    max-width: 100%;
    margin: 0;
}

.abstract {
    padding: 0 10%;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}

img {
    max-width: 100%;
}

@media (min-width: 600px) {
    body {
        font-size: x-large;
        max-width: 65ch;
        margin: auto;
    }
}

td + td, th + th {
    border-left: 0.5px solid grey;
}

thead + tbody, tbody + tbody {
    border-top: 1px solid grey;
}

caption.t-above {
    padding: 0.5ch;
}

#footnotes {
    border-top: 1px solid grey;
    color: #555;
    font-size: smaller;
}

/* Drawers. Inspired by https://pavpanchekha.com/blog/org-mode-publish.html */
.drawer {
    padding: 20px;
    margin: 1em 0;
    border: 5px solid salmon;
}
.drawer h6 {
    font-size: 100%;
    font-weight: bold;
    margin: 0 0 1em 0;
}
.drawer *:last-child {margin-bottom: 0;}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

/* Styles for Source code blocks */
.org-builtin { color: #483d8b; }
.org-clojure-keyword { color: #008b8b; }
.org-comment { color: #b22222; }
.org-comment-delimiter { color: #b22222; }
.org-doc { color: #8b2252; }
.org-function-name { color: #0000ff; }
.org-keyword { color: #a020f0; }
.org-string { color: #8b2252; }
.org-type { color: #228b22; }
.org-variable-name { color: #a0522d; }
