<!doctype html>

<html>
<head>
	<title>{{ page.title | strip_html }} // Stig Brautaset</title>
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="author" content="Stig Brautaset" />

	<!-- Homepage CSS -->
	<link rel="stylesheet" href="css/default.css" type="text/css" media="screen, projection" />

</head>
<body>

	<div class="site">
		<header>
			<div class="container">
				<hgroup>
					<h1><a href="/">{{ page.title }}</a></h1>
				</hgroup>
			</div>
		</header>

		<div id="container" class="container">
		    <article>
				{{ content }}
			</article>
		</div>

		<footer>
			<div class="container">
				<p>Copyright &copy; Stig Brautaset</p>
			</div>
		</footer>
	</div>

</body>
</html>
