<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title | strip_html }}</title>
<meta name="author" content="Stig Brautaset">
<link rel="stylesheet" href="//cmcenroe.me/writ/writ.min.css">
<link rel="stylesheet" href="/css/pygments.css">
<link rel="stylesheet" href="/css/main.css">

<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/articles.html">Blog</a></li>
      <li><a href="/publications.html">Publications</a></li>
      <li><a href="/about.html">About</a></li>
    </ul>
  </nav>
</header>

{{ content }}
